[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[color "diff-highlight"]
  oldNormal = "red"
  oldHighlight = "160 52"
  newNormal = "green"
  newHighlight = "118 22"
[core]
  excludesfile = ~/.gitignore
  editor = vim
  autocrlf = input
  pager = less -x4
[pager]
  log = diff-highlight | less -x4
  show = diff-highlight | less -x4
  diff = diff-highlight | less -x4
[init]
  templatedir = ~/.git_template
[help]
  autocorrect = 0
[pull]
  rebase = true
[push]
  default = current
[commit]
  gpgsign = true
[advice]
  detachedHead = false
[rerere]
  enabled = true
[alias]
  s = status
  cm = commit -v
  br = branch
  co = checkout
  ff = pull --ff --ff-only
  ffu = pull --ff --ff-only upstream master
  df = diff
  dc = diff --cached
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgl = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgp = lg --patch
  l = --no-pager lg -15
  ls = ls-files
  col = "!git checkout $(git branch | cut -c 3- | pick)"
  u = "!git add -u && git status"
  ua = "!git add --all && git status"
  cnf = "!git diff --name-only | uniq"
  amend = commit --amend --reuse-message=HEAD
  fix = "!$EDITOR $(git cnf)"
  a = "!git add --patch && git status"
  sls = "!git stash list | cat"
  ssave = stash save
  sshow = "!f() { if [ -z "$1" ]; then git stash list | cat; printf \"Index to show: \"; read choice; git stash show -p stash@{$choice}; else git stash show -p stash@{$1}; fi; }; f"
  spop = "!f() { if [ -z "$1" ]; then git stash list | cat; printf \"Index to pop: \"; read choice; git stash pop stash@{$choice}; else git stash pop stash@{$1}; fi; }; f"
  sapply = "!f() { if [ -z "$1" ]; then git stash list | cat; printf \"Index to apply: \"; read choice; git stash apply stash@{$choice}; else git stash apply stash@{$1}; fi; }; f"
  sdrop = "!f() { if [ -z "$1" ]; then git stash list | cat; printf \"Index to drop: \"; read choice; git stash drop stash@{$choice}; else git stash drop stash@{$1}; fi; }; f"
  sclear = "stash clear"
  clear-local-branches = "!git branch | grep -v "master" | xargs git branch -D"
  clear-merged-branches = "!f() { git checkout --quiet master && git branch --merged | grep --invert-match '\\*' | xargs -n 1 git branch --delete; git checkout --quiet @{-1}; }; f"
  aliases = "!git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort"
  ctags = "!.git/hooks/ctags"

  # This one doesn't work yet because my bash sucks and I can't figure out how to parameterize the author. Works as intended though.
  # files-with-author = git log --no-merges --stat --author="ChrisArcand" --name-only --pretty=format:"" | sort -u

  # Uncommons, but incredibly useful
  # ----------------------------------------
  # addprx courtesy @mitsuhiko
  arminlog = log --pretty=format:"%C(auto,yellow)%h%C(auto)%d\\ %C(auto,reset)%s\\ \\ [%C(auto,blue)%cn%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)]"
  addprx = "!f() { b=`git symbolic-ref -q --short HEAD` && \
    git fetch origin pull/$1/head:pr/$1 && \
    git fetch -f origin pull/$1/merge:PR_MERGE_HEAD && \
    git rebase --onto $b PR_MERGE_HEAD^ pr/$1 && \
    git branch -D PR_MERGE_HEAD && \
    git checkout $b && echo && \
    git diff --stat $b..pr/$1 && echo && \
    git arminlog $b..pr/$1; }; f"

  # Honorable Mentions
  # Unused, but may be useful for others
  # ----------------------------------------
  # lol = log --graph --decorate --pretty=oneline --abbrev-commit
  # lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  # sapplyr = "!f() { git stash apply stash^{/$*}; }; f"
  # sshowr = "!f() { git stash show stash^{/$*} -p; }; f"
  #
  # My old 'checkoutlist' command; replaced by fuzzy search provided by thoughtbot/pick
  # col = "!select choice in $(git branch | grep -v '*'); do echo checking out $choice; git checkout $choice; break; done"

