[submodule "_plugins/oh-my-zsh"]
	path = _plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "_plugins/tmux-yank"]
	path = _plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "_plugins/tmux-scroll-copy-mode"]
	path = _plugins/tmux-scroll-copy-mode
	url = https://github.com/NHDaly/tmux-scroll-copy-mode.git
