[submodule "_plugins/oh-my-zsh"]
	path = _plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "_plugins/catppuccin-tmux"]
	path = _plugins/catppuccin-tmux
	url = https://github.com/catppuccin/tmux.git
[submodule "_plugins/tmux-battery"]
	path = _plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery.git
[submodule "_plugins/tmux-cpu"]
	path = _plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu.git
